@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --white: white;
    --lightRed: #cc3c28;
    --darkRed: #972c1e;
    --redGradient: linear-gradient(
        var(--lightRed),
        var(--darkRed)
    );
    --lightgrey: #f2f2f2;
    --darkgrey:#cacaca;
}

*{
    font-family: "Inter", sans-serif;
    letter-spacing: .02em;
    font-weight: normal; 
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 160px;
    font-weight: normal;
    margin: 10px;
}
.title{
    font-size: 64px;
    letter-spacing: .2em;
    text-align: center;
}

.redText{
    color: var(--lightRed)
} 

#logo{
    margin-bottom: 20px;
}

.button-container{ 
    display: flex;
    gap: 20px;
}

#secondary-btn,#primary-btn{ 
    display: block;
    padding: 40px;
    width: 360px;
    border-radius: 150px; 
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}

#secondary-btn{
    background: var(--white);
    border: 3px solid var(--darkRed);
    color: var(--darkRed);
}
#primary-btn{
    background: var(--redGradient);
    border: none;
    color: var(--white);
}

#secondary-btn:hover, #primary-btn:hover{
    opacity: 0.8; 
    cursor: pointer;
}

.left-container{
    width: 35%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: var(--redGradient);
    color:white;

    display: flex;
    flex-direction: column; 
    justify-content: center;
} 

.left-container > *{
    width: 60%;

    margin: 0px;
    margin-left: 20%;
    margin-bottom: 10px;
} 
.left-container > p{
    font-size: 24px;
}
.left-container > h6{
    font-size: 40px;
    font-weight: bold;
}

.right-container{
    width: 65%;
    height: 100%;
    margin: 0px;
    padding: 0px; 

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-r-container{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px; 

    display:flex;
}

#vertical-form{
    display: flex;
    flex-direction: column;    
}

#bottom-hyperlink{ 
    position: absolute;
    bottom: 50px;
    color:var(--darkRed);
    text-decoration: none;
}
#bottom-hyperlink:focus{
    outline: 1px solid var(--darkRed)
}

.input-outline{
    width: 500px;
    height: 75px;
    font-size: 24px;
    border: 3px solid var(--darkRed);
    border-radius: 150px;
    text-align: center;
    color: var(--darkRed);
    margin-bottom: 10px;
}
.button-outline{
    width: 510px;
    height: 75px;
    font-size: 24px;
    border-radius: 150px;
    text-align: center;
    color: var(--white);
    margin-bottom: 10px;
    background: var(--redGradient);
    outline:none;
    border:none;
}
.input-outline:focus{
    outline:none;
}
.button-outline:hover{
    cursor: pointer;
    opacity: 0.8;
}
.button-outline:focus{
    border: 3px solid var(--darkRed);
    opacity: 0.8;
}



/*
DASHBOARD
*/

.dashboard-container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    display:flex;
}

.dashboard-left-container{
    width: 20%;
    background:var(--redGradient);
    height: 100%;
}
.dashboard-right-container{
    width: 80%;
    height: 100%;
}
.dashboard-nav-bar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
.dashboard-nav-bar > a{
    margin-right: 20px;
    color: var(--darkRed);
    text-decoration: none;
    border: 1px solid var(--darkRed);
    padding: 10px 45px;
    border-radius: 50px;
    font-size: 16px;
}
.dashboard-main{
    height: 90%;
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding:15px;
    padding-top: 40px;
    box-sizing: border-box;
}

.dashboard-nav-title{
    font-size: 40px;
    text-align: center;
    color: var(--white);
    letter-spacing: 0.2em;
}
.dashboard-link-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:var(--white);
    text-decoration: none;
}
.dashboard-nav-link{
    color:var(--white);
    text-decoration: none;
    width: 100%;
    padding: 15px 0px;
}
.dashboard-nav-link:hover{
    background-color: var(--darkRed);
}

#sortby{
    width: 120px;
    height: 50px;
    font-size: 16px;
    text-align: center;
}
.restaurant-list-container{
    width: 50%;
    height: 70%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px var(--darkgrey);
    padding: 25px;
    overflow: scroll;
}
.restaurant-list-item{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-list-item{
    margin-bottom: 50px;
}
.restaurant-list-item > *{
    width: 150px;
    text-align: center;
}
.restaurant-list-item > button{
    background-color: transparent;
    color: var(--darkRed);
    border: 1px solid var(--darkRed);
    border-radius: 25px;
}
.restaurant-list-item > button:hover{
    cursor: pointer;
}
#new-restaurant-btn{
    margin-left: 150px;
    background: var(--redGradient);
    color: white;
    border-radius: 25px;
}