<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=2, initial-scale=1.0">
    <title>U Review</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" href="favicon.ico?" type="image/x-icon">
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-left-container">
            <h1 class="dashboard-nav-title">U Review</h1>
            <div class="dashboard-link-container">
                <a href="findRestaurants.html" class="dashboard-nav-link">find restaurants</a>
                <a href="mangageRestaurantInfo.html" class="dashboard-nav-link">manage restaurant info</a>
                <a href="viewListOfFollowers.html" class="dashboard-nav-link">view list of followers</a>
                <a href="paySubscriptionFees.html" class="dashboard-nav-link">pay subscription fees</a>
                <a href="accountManagement.html" class="dashboard-nav-link">account management</a>
                <a href="manageRestaurants.html" class="dashboard-nav-link">manage restaurants</a>
                <a href="manageMembers.html" class="dashboard-nav-link">manage members</a>
                <a href="manageFoodItems.html" class="dashboard-nav-link">manage food items</a>
                <a href="manageReviews.html" class="dashboard-nav-link">manage reviews</a>
                <a href="manageUsers.html" class="dashboard-nav-link">manage users</a>
                <a href="revenueReport.html" class="dashboard-nav-link">revenue report</a>
            </div>
        </div>
        <div class="dashboard-right-container">
            <div class="dashboard-nav-bar">
                <p>role: admin</p>
                <a href="home.html">sign out</a>
            </div>
            <div class="dashboard-main">
                <div class="title">edit member</div>
                <div class="dashboard-list-container">
                        <form class="restaurant-input-grid" action="manageMembers.html">
                            <input type="text" placeholder="name" id="memberName">
                            <input type="text" placeholder="username" id="memberUsername">
                            <input type="email" placeholder="email" id="memberEmail">
                            <input type="text" placeholder="role" id="memberRole">
                            <button id="cancel-change-restaurant">cancel</button>
                            <button id="confirm-change-restaurant">add</button>
                        </form>
                </div>
            </div>
    </div>
</body>
</html>